<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd" default-init-method="ginit" default-destroy-method="gdestroy">
    <!-- when initialization happens spring will look if any class here implements BeanPostProcessor so that it will invoke that -->
    <bean class="com.training.BPP.EmployeeBeanProcessor"/>
    
    
    
    <!-- property configuration goes here -->
    
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location">
    <value>employee.properties</value></property>
    </bean>
    
    
    
<!-- by default when a bean is created it will be singleton -->
<bean id="employee" class="com.training.Employee.Employee"  scope="singleton" >
<!-- autowired can be handled by spring -->
<!-- values can be get from external resource -->
<property name="eId" value="${employee.eId}"></property>
<property name="eName" value="${employee.eName}"></property>
<property name="eSal" value="${employee.eSal}"></property>
</bean>

</beans>